name: Deploy MultiK8s
on:
  push:
    branches:
      - main

env:
#  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  SHA: $(git rev-parse HEAD)
  LOCATION: europe-west1
  SERVICE_ACCOUNT: ${{ secrets.SERVICE_ACCOUNT }}
  IMAGE: docker-react-app


jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: actions/checkout@v3

      - name: Test
        run: |-
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker build -t fracc/react-test -f Dockerfile.dev .
          docker run -e CI=true fracc/react-test npm test

      - name: Set Identity Provider
        uses: 'google-github-actions/auth@v0'
        with:
          workload_identity_provider: 'projects/950268361153/locations/global/workloadIdentityPools/docker-react-test-pool/providers/docker-react-test-provider'
          service_account: '{{ env.SERVICE_ACCOUNT }}@${{ secrets.GKE_PROJECT }}.iam.gserviceaccount.com'

      - name: Auth
        run: |-
          gcloud --quiet auth configure-docker

      - name: Build
        run: |-
          docker build -t "gcr.io/${{ secrets.GKE_PROJECT }}/${{ env.IMAGE }}" -f Dockerfile .

      - name: Push
        run: |-
          docker push "gcr.io/${{ secrets.GKE_PROJECT }}/${{ env.IMAGE }}"

      - name: Deploy
        uses: "google-github-actions/deploy-cloudrun@v0"
        with:
          image: gcr.io/${{ secrets.GKE_PROJECT }}/${{ env.IMAGE }}
          region: ${{ env.LOCATION }}
          service: app
          flags: --port=8080
