name: Deploy MultiK8s
on:
  push:
    branches:
      - main

env:
  SHA: $(git rev-parse HEAD)

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: actions/checkout@v3

      - name: Test
        run: |-
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker build -t fracc/react-test -f Dockerfile.dev .
          docker run -e CI=true fracc/react-test npm test

#      - name: Set Identity Provider
#        uses: 'google-github-actions/auth@v0'
#        with:
#          workload_identity_provider: 'projects/950268361153/locations/global/workloadIdentityPools/docker-react-test-pool/providers/docker-react-test-provider'
#          service_account: 'udemy-doker-k8s@gcp-learning-340314.iam.gserviceaccount.com'
#
#      - name: Set Project
#        uses: google-github-actions/setup-gcloud@v0
#        with:
#          project_id: gcp-learning-340314
#
#      - name: Auth
#        run: |-
#          gcloud --quiet auth configure-docker
#
#      - name: Get Credentials
#        uses: google-github-actions/get-gke-credentials@v0
#        with:
#          cluster_name: docker-react-test
#          location: europe-west1
#
#      - name: Build
#        run: |-
#          docker build -t fracc/multi-client-k8s-gh:latest -t fracc/multi-client-k8s-gh:${{ env.SHA }} -f ./client/Dockerfile ./client
#          docker build -t fracc/multi-server-k8s-pgfix-gh:latest -t fracc/multi-server-k8s-pgfix-gh:${{ env.SHA }} -f ./server/Dockerfile ./server
#          docker build -t fracc/multi-worker-k8s-gh:latest -t fracc/multi-worker-k8s-gh:${{ env.SHA }} -f ./worker/Dockerfile ./worker
#
#      - name: Push
#        run: |-
#          docker push fracc/multi-client-k8s-gh:latest
#          docker push fracc/multi-server-k8s-pgfix-gh:latest
#          docker push fracc/multi-worker-k8s-gh:latest
#
#          docker push fracc/multi-client-k8s-gh:${{ env.SHA }}
#          docker push fracc/multi-server-k8s-pgfix-gh:${{ env.SHA }}
#          docker push fracc/multi-worker-k8s-gh:${{ env.SHA }}
#
#      - name: Apply
#        run: |-
#          kubectl apply -f k8s
#          kubectl set image deployments/server-deployment server=fracc/multi-server-k8s-pgfix-gh:${{ env.SHA }}
#          kubectl set image deployments/client-deployment client=fracc/multi-client-k8s-gh:${{ env.SHA }}
#          kubectl set image deployments/worker-deployment worker=fracc/multi-worker-k8s-gh:${{ env.SHA }}
#      - name: Get Credentials
#        uses: google-github-actions/get-gke-credentials@v0
#        with:
#          cluster_name: docker-react-test
#          location: europe-west1
#
#      - name: Build
#        run: |-
#          docker build -t fracc/multi-client-k8s-gh:latest -t fracc/multi-client-k8s-gh:${{ env.SHA }} -f ./client/Dockerfile ./client
#          docker build -t fracc/multi-server-k8s-pgfix-gh:latest -t fracc/multi-server-k8s-pgfix-gh:${{ env.SHA }} -f ./server/Dockerfile ./server
#          docker build -t fracc/multi-worker-k8s-gh:latest -t fracc/multi-worker-k8s-gh:${{ env.SHA }} -f ./worker/Dockerfile ./worker
#
#      - name: Push
#        run: |-
#          docker push fracc/multi-client-k8s-gh:latest
#          docker push fracc/multi-server-k8s-pgfix-gh:latest
#          docker push fracc/multi-worker-k8s-gh:latest
#
#          docker push fracc/multi-client-k8s-gh:${{ env.SHA }}
#          docker push fracc/multi-server-k8s-pgfix-gh:${{ env.SHA }}
#          docker push fracc/multi-worker-k8s-gh:${{ env.SHA }}
#
#      - name: Apply
#        run: |-
#          kubectl apply -f k8s
#          kubectl set image deployments/server-deployment server=fracc/multi-server-k8s-pgfix-gh:${{ env.SHA }}
#          kubectl set image deployments/client-deployment client=fracc/multi-client-k8s-gh:${{ env.SHA }}
#          kubectl set image deployments/worker-deployment worker=fracc/multi-worker-k8s-gh:${{ env.SHA }}
